@media (max-width: 1024px) {
    .pages{
        height: 1400px;
        grid-template-rows: 427.5px 972.5px;
    }

    .pages .content{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .pages .content .container{
        width: 40%;
    }
}

@media (max-width: 830px) {
    .pages .header h2{
        font-size: 250%;
    }
}

@media (max-width: 520px){
    .pages{
        height: 2200px;
        grid-template-rows: 427.5px 1772.5px;
    }

    .pages .header h2{
        font-size: 200%;
    }

    .pages .content .container{
        width: 90%;
    }
}

@media (max-width: 366px) {
    .pages .header h2{
        font-size: 150%;
    }

    .pages .header:hover span{
        font-size: 1635%;
    }
}

@media (max-width: 300px) {
    .pages{
        height: 1872.5px;
        grid-template-rows: 100%;
        padding-top: 20px;
    }

    .pages .header{
        display: none;
    }
}