@media (max-width: 385px) {
    .container .forgot-password-form header h2{
        font-size: 150%;
    }

    .container .forgot-password-form:hover header h2{
        font-size: 180%;
    }
}

@media (max-width: 317px) {
    .container .forgot-password-form:hover header h2{
        font-size: 150%;
    }
}